#outer container{
    border: none;
    display: grid;
    margin: auto;
    grid-template-columns: 50% 50%;
}
    
#inner container{
    display: grid;
    grid-template-columns: 50% 50% 50%;
    padding: 30px;
    margin: 15%;
    border: solid black;

}
#heading1{
    font-display: 100px;
    padding: 0;
    border: 10px;
    font-size: 100;
}

p{
    text-align: 50px;
    padding: 20px,20px

}

button{
    color: white;
    background-color: navy;
    padding: 10px;
    width: 20%;
    font-size: larger;
}
#art{
    width: 250px;
    height: 250px;
}

button2{
    color: white;
    background-color: navy;
    padding: 15px;
    width: 20%;
}
#pic{
    width: 300px;
    height: 300px;
}

    